<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0nxM332LtQlVciWE3tZASfH-fiRYvtlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521446382061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahbaz266272.movieslistingcollection</string>
	<key>PROJECT_ID</key>
	<string>movies-and-entertainment-39fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-and-entertainment-39fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521446382061:ios:7cad1fdd886c016ae26fe4</string>
</dict>
</plist>